<ul class="list-group">
    <li class="list-group-item">
        <a class="dropdown-item"
           asp-controller="IncrementoPlantillaFunciones"
           asp-action="Index">
            General
        </a>
    </li>
    <li class="list-group-item">
        <a class="dropdown-item"
           asp-controller="Plantillas"
           asp-action="Index">
            La Paz
        </a>
    </li>
    <li class="list-group-item">
        <a class="dropdown-item"
           asp-controller="PlantillaTurno"
           asp-action="Index">
            Provincial
        </a>
    </li>
    <li class="list-group-item">
        <a class="dropdown-item"
           asp-controller="PlantillaTurno"
           asp-action="Index">
            San Carlos
        </a>
    </li>
    <li class="list-group-item">
        <a class="dropdown-item"
           asp-controller="PlantillaTurno"
           asp-action="Index">
            Ruber
        </a>
    </li>
</ul>